@use "./_mixins" as *;

.mycontainerfluid {
  @include my-container-fluid;
  // padding-top: 1em;
  color: black;
  // height: 100%;
  margin-bottom: 3em;

  h1 {
    color: $red;
    text-align: center;
  }

  .container {
    @include my-container;
    align-items: center;
    gap: 1.5em;
    margin-top: 2em;
    padding: 1em 0 2em;
    height: 100%;
  }

  .search {
    border-radius: 20px;
    background-color: $greybg;
    padding: 1em 0.5em;
    @include my-flex(column, start);
    transition: all 300ms;

    &:hover {
      box-shadow: 0px 10px 10px #827b7b;
      transition: all 200ms;
    }

    .addressSearch {
      @include my-flex(column, center);
      flex-wrap: wrap;
      width: 80%;
      gap: 0.5em;
      margin-bottom: 1em;

      .miniinputs {
        @include my-flex(row, space-between);
        width: 100%;
        gap: 0.5em;

        input {
          width: calc(100% / 3 - 0.5em) !important;
        }

        @media screen and (max-width: 500px) {
          @include my-flex(column, space-between);

          input {
            width: 100% !important;
          }
        }
      }

      input {
        padding: 0.5em 1em;
        border-radius: 20px;
        border: none;
        font-size: 1rem;

        &:first-child {
          width: 100%;
        }

        &:focused {
          border: 1px solid $red;
        }

        & {
          @media screen and (max-width: 500px) {
            width: 100%;
          }
        }
      }

      .slidecontainer {
        width: 100%;

        text-align: center;
        /* Specified height */

        & > * {
          margin-bottom: 0.5em;
        }

        span {
          text-align: center;
          display: block;
          font-weight: 200;
        }
      }

      /* The slider itself */
      .slider {
        -webkit-appearance: none;
        /* Override default CSS styles */
        appearance: none;
        width: 60%;
        min-width: 5em;
        /* Full-width */
        max-width: 25em;
        /* Full-width */
        margin: 0.5em auto;
        height: 5px;
        background: #d3d3d3;
        /* Grey background */
        outline: none;
        /* Remove outline */
        opacity: 0.7;
        /* Set transparency (for mouse-over effects on hover) */
        -webkit-transition: 0.2s;
        /* 0.2 seconds transition on hover */
        transition: opacity 0.2s;
        padding: 0;

        input {
          width: 80%;
        }
      }

      /* Mouse-over effects */
      .slider:hover {
        opacity: 1;
        /* Fully shown on mouse-over */
      }

      /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
      .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        /* Override default look */
        appearance: none;
        width: 15px;
        /* Set a specific slider handle width */
        height: 15px;
        /* Slider handle height */
        background: $red;
        border-radius: 50%;
        /* Green background */
        cursor: pointer;
        /* Cursor on hover */
      }

      .slider::-moz-range-thumb {
        width: 10px;
        /* Set a specific slider handle width */
        height: 10px;
        /* Slider handle height */
        background: $red;
        /* Green background */
        cursor: pointer;
        /* Cursor on hover */
      }
    }

    .services {
      @include my-flex(column, flex-start);
      flex-wrap: wrap;
      // align-items: start;
      width: 100%;
      height: 170px;
      gap: 0.5em;
      margin-bottom: 1em;
      align-self: center;
      padding: 0.5em 2em;

      @media screen and (max-width: 500px) {
        @include my-flex(column, flex-start);
        align-items: center;
        flex-wrap: nowrap;
        height: fit-content;
      }

      .formgroup {
        align-items: flex-start;
        width: 30%;
        min-width: 50px;
        @include my-flex(row, center);
        gap: 0.3em;
        font-weight: 200;

        input {
          padding: 0;
          height: initial;
          width: initial;
          margin-bottom: 0;
          display: none;
          cursor: pointer;
        }

        label {
          position: relative;
          cursor: pointer;
          width: max-content;
          min-width: 170px;
          color: $red;

          @media screen and (max-width: 670px) {
            @include my-flex(row, flex-start);
            align-items: flex-start;
            flex-wrap: nowrap;
            height: fit-content;
            width: max-content;
            min-width: 150px;
          }
        }

        label:before {
          content: "";
          appearance: none;
          -webkit-appearance: none;
          background-color: transparent;
          border: 2px solid $red;
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
            inset 0px -15px 10px -12px rgba(0, 0, 0, 0);
          padding: 5px;
          display: inline-block;
          position: relative;
          vertical-align: middle;
          cursor: pointer;
          margin-right: 5px;
          border-radius: 50%;
        }

        input:checked + label:after {
          content: "";
          display: block;
          position: absolute;
          top: 4px;
          left: 0px;
          bottom: 0px;
          right: 0px;
          width: 10px;
          height: 10px;
          border: solid $red;
          background-color: $red;
          border-radius: 50%;

          @media screen and (max-width: 670px) {
            top: 1px;
            left: 1px;
          }

          @media screen and (min-width: 1200px) {
            // top: 2px;
            left: 1px;
          }
        }
      }
    }

    button {
      width: 20vmax;
      font-size: 1.2rem;
      border: 1px solid red;
    }
  }

  .tommap {
    margin: 0 auto;
    height: 30em;
    width: 90%;
    border-radius: 20px;
    transition: all 200ms;

    &:hover {
      transition: all 200ms;
      box-shadow: 0px 5px 5px #827b7b;
    }
  }
}

.cardscontainer {
  @include my-container;
  @include my-flex(row, start);
  flex-wrap: wrap;
  gap: 1em 0.5em;

  margin-bottom: 2em;
}

h2 {
  margin-left: 2em;
  margin-bottom: 1em;
}
