@use "./partials/_mixins" as *;
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  // font-family: "Josefin Sans", sans-serif;
}

body {
  font-family: "Figtree", sans-serif;
}

.App {
  width: 100%;
  height: 100vh;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
  transition: 300ms;

  &:hover {
    transform: scale(1.05);
    transition: 300ms;
  }
}

.container {
  margin: 0 auto;
  width: 80%;
  // border: 1px solid black;
}

.container-fluid {
  width: 100%;
  // border: 1px solid red;
}

@media screen and (max-width: 800px) {
  .container {
    width: 95%;
  }
}

.our-btn-header {
  transition: all 300ms;
  border-radius: 10px;
  padding: 0.5em 1em;

  color: white;
  background-color: #ff5a60;

  &:hover {
    color: #ff5a60;
    background-color: white;
    transition: all 300ms;
    border: 1px solid #ff5a60;
  }
}

.our-btn {
  transition: all 300ms;
  border-radius: 10px;
  color: #ff5a60;
  background-color: white;
  padding: 0.5em 1em;

  &:hover {
    color: white;
    background-color: #ff5a60;
    transition: all 300ms;
  }
}

i {
  transition: 300ms !important;

  &:hover {
    transform: scale(1.3) !important;
    transition: 300ms !important;
  }
}

.form-control:focus {
  border: 1px solid #ff5a60 !important;
  transition: all 200ms;
  box-shadow: 0 0 0 0.05rem #ff5a60;
}
